Repository Sphinx-Society/kaizen-web-client, pull requests merged in 2020-06, with the labels that each got.

#135 SSKW-143 Removed logs of unmet requirements in tests
  src/client/components/organisms/TemplateCard/tests/TemplateCard.test.js
  src/client/components/pages/Settings/test/Settings.test.js
  src/client/utils/error.js
Labels: bug, hotfix, test

#136 SSKW - 123 Bacteriologist exams form
  src/client/components/organisms/TemplateFieldCard/TemplateFieldCard.jsx
  src/client/components/organisms/TestCard/TestCard.jsx
  src/client/components/pages/FillExam/FillTest.jsx
  src/client/components/pages/FillExam/FillTest.scss
  src/client/components/pages/PatientTests/PatientTests.jsx
  src/client/components/pages/PatientsManagement/PatientsManagement.jsx
  src/client/components/pages/TestsHistory/TestsHistory.jsx
  src/client/components/providers/MainViewProvider/MainViewProvider.jsx
  src/client/redux/templates/templates.actions.requests.js
  src/client/redux/user/user.actions.js
  src/client/redux/user/user.actions.requests.js
  src/client/redux/user/user.reducer.js
  src/client/routes/paths.js
  src/client/routes/routes.js
  src/client/services/Request.js
  src/client/services/Template.js
  src/client/services/User.js
Labels: page

#138 SSKW - 128 Integrate PDF download
  src/client/components/organisms/TestCard/TestCard.scss
  src/client/components/pages/FillExam/FillTest.jsx
  src/client/components/pages/TestsHistory/TestsHistory.jsx
  src/client/components/pages/ViewTest/ViewTest.jsx
  src/client/components/pages/ViewTest/ViewTest.scss
  src/client/components/providers/MainViewProvider/MainViewProvider.scss
  src/client/redux/user/user.actions.requests.js
  src/client/routes/paths.js
  src/client/routes/routes.js
  src/client/services/User.js
  src/client/utils/fileManager.js
Labels: feature, page

#142 SSKW-140 Integrate view tests page to doctor role
  src/client/components/pages/PatientTests/PatientTests.jsx
  src/client/components/pages/ViewTest/ViewTest.jsx
Labels: feature

#141 SSKW-137 Update Readme and other details
  README.md
Labels: documentation

#145 SSKW-144 Added test to cover table organism and other atoms
  src/client/__mocks__/components/UserTableMock.js
  src/client/components/atoms/DatepickerCarousel/DatepickerCarousel.jsx
  src/client/components/atoms/DatepickerCarousel/tests/DatepickerCarousel.test.js
  src/client/components/atoms/DatepickerDay/tests/DatepickerDay.test.js
  src/client/components/organisms/Table/tests/Table.test.js
Labels: atom, organism, test

#143 SSKW - 133 Details fix
  README.md
  src/client/components/organisms/ShapesContainer/ShapesContainer.jsx
  src/client/components/pages/NotFound.jsx
  src/client/components/pages/NotFound/NotFound.jsx
  src/client/components/pages/NotFound/NotFound.scss
  src/client/routes/routes.js
Labels: hotfix
